NUXT_SITE_URL=http://localhost:3699
NUXT_SITE_NAME="Nuxt SaaS 系统"
NUXT_SITE_ENV="staging"
NUXT_STORAGE_PATH='./public/storage'

BETTER_AUTH_SECRET=

DATABASE_URL="mysql://root@localhost:3306/database"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

NUXT_OPENAI_API_KEY=
AI_PROVIDER_NAME=siliconflow
AI_API_KEY=
AI_BASE_URL=https://api.siliconflow.cn/v1
AI_MODEL=Qwen/Qwen2.5-7B-Instruct

MAIL_PROVIDER=resend
MAIL_RESEND_KEY=
MAIL_FROM='"Nuxt SaaS 系统" <noreply@example.com>'
